<!DOCTYPE html>
<html>
<head>
  <title>Femdom Ideas</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
  <meta name="theme-color" content="#007bff">
</head>
<body>
<nav style="background-color: #343a40; padding: 10px;">
  <ul style="list-style: none; display: flex; margin: 0; padding: 0;">
    <li style="margin-right: 20px;">
      <%= link_to "Home", root_path, style: "text-decoration: none;" %>
    </li>
    <li style="margin-right: 20px;">
      <%= link_to "Random Command", random_command_path, style: "text-decoration: none;" %>
    </li>
    <li style="margin-right: 20px;">
      <%= link_to "Random Service Task", random_service_task_path, style: "text-decoration: none;" %>
    </li>
    <li style="margin-right: 20px;">
      <%= link_to "Current Planned Session", random_session_activity_path, style: "text-decoration: none;" %>
    </li>
    <li>
      <%= link_to "Random Session Activity", current_session_path, style: "text-decoration: none;" %>
    </li>
  </ul>
</nav>
<%= yield %>
</body>
</html>
